#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_15 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_283 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_290 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_3 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_17 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_18 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_4 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_291 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Line_5 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Line_5 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_19 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_20 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_6 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_293 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_5 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_3 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_7 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_5 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_25 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_26 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_21 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_294 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_12 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_7 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_6 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_284 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_7 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_6 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_8 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_285 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_5 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_287 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_12 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_8 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_9 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_11 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FF2B70;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FF2B70;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FF2B70;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FF2B70;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_10 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Line_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Line_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_8 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FF2B70;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FF2B70;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FF2B70;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FF2B70;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
filter: alpha(opacity=95);
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_16 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Button_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
filter: alpha(opacity=96);
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Button_4 {
border-right-width: 1px;
border-right-style: dotted;
border-right-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Button_5 {
border-right-width: 1px;
border-right-style: dotted;
border-right-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_1 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rich_text_1 {
-ms-transform: rotate(0.0deg);
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_286 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}