#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Line_3 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
filter: alpha(opacity=95) ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_291 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Line_2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_182 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Button-red {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_295 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_297 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Paragraph_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_298 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_12 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_299 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_300 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_301 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Image_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}