#s-537e0422-4e31-477d-9b16-5dd83edc4d28 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Line_3 {
position: absolute;
top: 40px;
left: 0px;
width: 375px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_8 {
position: absolute;
top: 0px;
left: 0px;
width: 371px;
height: 54px;
background-color: #FF2B70;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FF2B70;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FF2B70;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FF2B70;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FF2B70;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_8 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_8 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_1 {
position: absolute;
top: 22px;
left: 155px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.95;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: Arial,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_1 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 16.0pt;
font-style: normal;
font-weight: 400;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_1 span#rtr-s-Text_1_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 16.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Statusbar-white {
position: absolute;
top: -1px;
left: -1px;
width: 375px;
height: 20px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_417 {
position: absolute;
top: 3px;
left: 41px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_417 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_417 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_417 span#rtr-s-Label_417_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_430 {
position: absolute;
top: 4px;
left: 299px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_430 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_430 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_430 span#rtr-s-Label_430_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_31 {
position: absolute;
top: 0px;
left: 149px;
width: 78px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_31 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_31 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_31 span#rtr-s-Label_31_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Group_28 {
position: absolute;
top: 7px;
left: 4px;
width: 34px;
height: 6px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_7 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_7 .content {
width: 6px;
height: 6px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_7 {
position: absolute;
top: 0px;
left: 21px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_7 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_7 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_32 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_32 .content {
width: 6px;
height: 6px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_32 {
position: absolute;
top: 0px;
left: 28px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_32 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_32 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_32 span#rtr-s-Ellipse_32_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_33 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_33 .content {
width: 6px;
height: 6px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_33 {
position: absolute;
top: 0px;
left: 14px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_33 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_33 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_34 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_34 .content {
width: 6px;
height: 6px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_34 {
position: absolute;
top: 0px;
left: 7px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_34 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_34 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_35 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_35 .content {
width: 6px;
height: 6px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Ellipse_35 {
position: absolute;
top: 0px;
left: 0px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_35 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_35 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_51 {
position: absolute;
top: 1px;
left: 302px;
width: 50px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_51 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_51 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_51 span#rtr-s-Label_51_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Image_4 {
position: absolute;
top: 5px;
left: 342px;
width: 25px;
height: 10px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_4 {
position: absolute;
top: 0px;
left: 0px;
width: 375px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_4 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Menu_3 {
position: absolute;
top: 627px;
left: -1px;
width: 376px;
height: 40px;
background-color: #FF2B70;
background-image: none;
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_275 {
position: absolute;
top: 630px;
left: 18px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_275 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_275 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_275 span#rtr-s-Label_275_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_30 {
position: absolute;
top: 630px;
left: 328px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_30 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_30 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_30 span#rtr-s-Label_30_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_8 {
position: absolute;
top: 653px;
left: 15px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_8 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_8 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_8 span#rtr-s-Text_8_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_11 {
position: absolute;
top: 653px;
left: 332px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_11 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_11 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_11 span#rtr-s-Text_11_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_3 {
position: absolute;
top: 626px;
left: 79px;
width: 91px;
height: 37px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FF2B70;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FF2B70;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FF2B70;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FF2B70;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_3 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_3 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_3 {
position: absolute;
top: 629px;
left: 228px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_3 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_3 span#rtr-s-Label_3_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_10 {
position: absolute;
top: 654px;
left: 230px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_10 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_10 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_10 span#rtr-s-Text_10_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Group_1 {
position: absolute;
top: 630px;
left: 113px;
width: 28px;
height: 33px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_296 {
position: absolute;
top: 0px;
left: 1px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_296 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_296 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_296 span#rtr-s-Label_296_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_9 {
position: absolute;
top: 23px;
left: 0px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_9 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_9 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_9 span#rtr-s-Text_9_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_2 {
position: absolute;
top: 57px;
left: 0px;
width: 371px;
height: 566px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_2 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_291 {
position: absolute;
top: 24px;
left: 7px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_291 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_291 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_291 span#rtr-s-Label_291_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Line_2 {
position: absolute;
top: 233px;
left: 0px;
width: 375px;
height: 6px;
border-top-width: 6px;
border-top-style: solid;
border-top-color: #FF2B70;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_182 {
position: absolute;
top: 88px;
left: 26px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 22.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_182 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_182 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 22.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_182 span#rtr-s-Label_182_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 22.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_2 {
position: absolute;
top: 245px;
left: 11px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_2 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_2 span#rtr-s-Text_2_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_1 {
position: absolute;
top: 269px;
left: 0px;
width: 375px;
height: 155px;
background-color: #EFEFEF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_1 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Table_1 {
position: absolute;
top: 292px;
left: 135px;
width: 234px;
height: 90px;
background-color: transparent;
background-image: none;
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_1 {
padding-left: 12px;
width: 128px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_1 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_4 {
padding-left: 12px;
width: 82px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_4 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_3 {
padding-left: 12px;
width: 128px;
height: 18px;
background-color: transparent;
background-image: none;
opacity: 0.99;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_3 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_6 {
padding-left: 12px;
width: 82px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_6 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_6 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_7 {
padding-left: 12px;
width: 128px;
height: 18px;
background-color: transparent;
background-image: none;
opacity: 0.99;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_7 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_7 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_8 {
padding-left: 12px;
width: 82px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_8 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_8 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_9 {
padding-left: 12px;
width: 128px;
height: 18px;
background-color: transparent;
background-image: none;
opacity: 0.99;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_9 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_9 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_10 {
padding-left: 12px;
width: 82px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_10 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_10 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_11 {
padding-left: 12px;
width: 128px;
height: 18px;
background-color: transparent;
background-image: none;
opacity: 0.99;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_11 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_11 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_12 {
padding-left: 12px;
width: 82px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_12 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_12 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Table_2 {
position: absolute;
top: 97px;
left: 129px;
width: 242px;
height: 54px;
background-color: transparent;
background-image: none;
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_17 {
padding-left: 12px;
width: 127px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_17 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_17 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_25 {
padding-left: 12px;
width: 91px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_25 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_25 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_18 {
padding-left: 12px;
width: 127px;
height: 18px;
background-color: transparent;
background-image: none;
opacity: 0.99;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_18 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_18 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_26 {
padding-left: 12px;
width: 91px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_26 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_26 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_19 {
padding-left: 12px;
width: 127px;
height: 18px;
background-color: transparent;
background-image: none;
opacity: 0.99;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_19 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_19 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_27 {
padding-left: 12px;
width: 91px;
height: 18px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_27 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_27 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Button-red {
position: absolute;
top: 589px;
left: 148px;
width: 65px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #FF2B70;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #FF2B70;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #FF2B70;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #FF2B70;
border-radius: 6px 6px 6px 6px;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 21px;
font-size: 11.0pt;
font-family: Roboto-Bold,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Button-red .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Button-red span {
color: #FF2B70;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 11.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Button-red span#rtr-s-Button-red_0 {
color: #FF2B70;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_9 {
position: absolute;
top: 435px;
left: 0px;
width: 375px;
height: 24px;
background-color: #EFEFEF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_9 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_9 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_295 {
position: absolute;
top: 436px;
left: 341px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_295 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_295 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_295 span#rtr-s-Label_295_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_10 {
position: absolute;
top: 467px;
left: 0px;
width: 375px;
height: 24px;
background-color: #EFEFEF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_10 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_10 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_297 {
position: absolute;
top: 468px;
left: 341px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_297 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_297 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_297 span#rtr-s-Label_297_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_11 {
position: absolute;
top: 499px;
left: 0px;
width: 375px;
height: 53px;
background-color: #EFEFEF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_11 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_11 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_7 {
position: absolute;
top: 501px;
left: 11px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_7 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_7 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_7 span#rtr-s-Text_7_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Paragraph_3 {
position: absolute;
top: 519px;
left: 9px;
width: 362px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Paragraph_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Paragraph_3 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_298 {
position: absolute;
top: 499px;
left: 341px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_298 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_298 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_298 span#rtr-s-Label_298_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_12 {
position: absolute;
top: 560px;
left: 0px;
width: 375px;
height: 24px;
background-color: #EFEFEF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_12 .valign {
vertical-align: middle;
text-align: center;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_12 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_299 {
position: absolute;
top: 563px;
left: 339px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_299 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_299 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_299 span#rtr-s-Label_299_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Table_6 {
position: absolute;
top: 467px;
left: 0px;
width: 279px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_29 {
padding-left: 12px;
width: 121px;
height: 24px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_29 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_29 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_30 {
padding-left: 12px;
width: 134px;
height: 24px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_30 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_30 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Table_5 {
position: absolute;
top: 435px;
left: 0px;
width: 323px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_22 {
padding-left: 12px;
width: 121px;
height: 24px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_22 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_22 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_28 {
padding-left: 12px;
width: 178px;
height: 24px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_28 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_28 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Table_7 {
position: absolute;
top: 560px;
left: 0px;
width: 279px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_31 {
padding-left: 12px;
width: 121px;
height: 24px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_31 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_31 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_32 {
padding-left: 12px;
width: 134px;
height: 24px;
background-color: transparent;
background-image: none;
text-shadow: none;
line-height: 19px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_32 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_32 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Image_2 {
position: absolute;
top: 73px;
left: 4px;
width: 120px;
height: 150px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_300 {
position: absolute;
top: 66px;
left: 339px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_300 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_300 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_300 span#rtr-s-Label_300_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_301 {
position: absolute;
top: 269px;
left: 339px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_301 .valign {
vertical-align: middle;
text-align: left;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_301 span {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Label_301 span#rtr-s-Label_301_0 {
color: #FF2B70;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 #s-Image_3 {
position: absolute;
top: 277px;
left: 7px;
width: 120px;
height: 135px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-537e0422-4e31-477d-9b16-5dd83edc4d28 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}