#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Background {
-pie-background: linear-gradient(to bottom,#02BBD2,#02D7F2);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_2 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Rich_text_2 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}