#s-95854606-050b-4acf-a044-5fbac002bdba #s-Rectangle_1 {
-pie-background: linear-gradient(to bottom,#FF1A43,#FF0B7B);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-ok-green {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-95854606-050b-4acf-a044-5fbac002bdba > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}