#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_6 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_8 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_9 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_10 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_11 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
filter: alpha(opacity=93);
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_291 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_160 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_3 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_4 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_223 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_5 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_6 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_7 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_12 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_228 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_229 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_230 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_231 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_232 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_233 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_124 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_125 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_126 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_127 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_128 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_6 {
-ms-transform: rotate(0.0deg);
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_6 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}