#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-logo {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-text {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-title {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_442 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Button_19 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}