#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Line_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
filter: alpha(opacity=93) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_291 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Line_2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_182 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_292 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_139 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_293 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_294 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_295 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_297 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Paragraph_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_298 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_299 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_300 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Button-red {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_12 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_13 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Line_3 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_14 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_15 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_16 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_17 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Radio-button_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Image_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_18 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-close {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_19 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_20 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_21 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Text_22 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Button-red_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_14 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=73) ;
filter: alpha(opacity=73) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rectangle_13 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=73) ;
filter: alpha(opacity=73) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Rich_text_11 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
filter: alpha(opacity=95) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_28 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Label_29 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 #s-Button-red_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-f502c04e-5c72-4df5-97dd-f4ca0a9040a3 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}