#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_15 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_283 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_290 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_17 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_18 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_291 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Line_5 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_19 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_20 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_293 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_25 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_26 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_21 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_294 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_12 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_284 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_285 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_287 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_12 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Line_3 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
filter: alpha(opacity=95) ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_16 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Button_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
filter: alpha(opacity=96) ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Button_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Button_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Ellipse_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Rich_text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf #s-Label_286 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-2272b70c-81f1-4c72-aa34-776051780aaf > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}