#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-ok-green {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-6975f9e2-c34d-4093-a57a-03ab9a61b1f3 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}