#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_8 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_9 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_10 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_11 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_6 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
filter: alpha(opacity=93);
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_291 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_181 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_16 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Line_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(90.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Line_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(90.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_8 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_9 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_11 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_10 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_104 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_105 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_106 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_12 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_13 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_14 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_15 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Line_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(90.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Line_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(90.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_16 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_17 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_18 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_19 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_107 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_108 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_109 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_20 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_21 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_22 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_23 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_24 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_25 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_26 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_27 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_189 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_110 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_111 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_112 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_28 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_29 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_30 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Rectangle_31 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #01BBD2;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #01BBD2;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #01BBD2;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #01BBD2;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Line_4 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(90.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Line_4 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
-ms-transform: rotate(90.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_223 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_224 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_225 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_226 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_4 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_227 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_5 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_228 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_6 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_229 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_8 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_230 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_9 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_231 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_10 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_232 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_11 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_233 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_12 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_234 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Ellipse_13 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_113 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_114 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_12 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_16 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_17 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_18 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_19 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_20 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_21 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_22 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_23 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Label_289 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Text_7 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Image_8 {
-ms-transform: rotate(0.0deg);
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-6b9d62e4-287a-4fa4-8c9a-1149388f6900 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}