#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Text_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Text_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Text_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-73d29c40-c3e1-4dda-a071-161c05b53d9d > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}