#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Background {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Rich_text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7ac4a299-1c95-484b-bf40-d50d595f25ca > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}