#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Rich_text_79 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_42 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_466 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Rectangle_6 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Image_4 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
filter: alpha(opacity=93);
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_291 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red_1 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red_2 {
-ms-transform: rotate(0.0deg);
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red_3 {
-ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}