#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Rich_text_79 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_42 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_466 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Rectangle_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
filter: alpha(opacity=93) ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Label_291 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 #s-Pin-red_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-92c5b261-701c-4277-8bd5-7f1043f9c278 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}