#s-95854606-050b-4acf-a044-5fbac002bdba #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-ok-green {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-95854606-050b-4acf-a044-5fbac002bdba #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-95854606-050b-4acf-a044-5fbac002bdba > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}