#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce > #alignmentBox {
position: relative;
width: 100%;
height: 100%;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_1 {
position: absolute;
top: 0px;
left: 0px;
width: 371px;
height: 663px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #FFFFFF;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #FFFFFF;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #FFFFFF;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #FFFFFF;
border-radius: 4px 4px 4px 4px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_1 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_6 {
position: absolute;
top: 0px;
left: 0px;
width: 375px;
height: 58px;
background-color: #01BBD2;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_6 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_6 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Group_1 {
position: absolute;
top: 629px;
left: 0px;
width: 375px;
height: 39px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Menu_3 {
position: absolute;
top: 0px;
left: 0px;
width: 373px;
height: 37px;
background-color: #01BBD2;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #999999;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #999999;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #999999;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #999999;
box-shadow: none;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_275 {
position: absolute;
top: 2px;
left: 19px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_275 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_275 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_275 span#rtr-s-Label_275_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_296 {
position: absolute;
top: 2px;
left: 115px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_296 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_296 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_296 span#rtr-s-Label_296_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_3 {
position: absolute;
top: 2px;
left: 226px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_3 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_3 span#rtr-s-Label_3_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_30 {
position: absolute;
top: 2px;
left: 329px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.98;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_30 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_30 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_30 span#rtr-s-Label_30_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_8 {
position: absolute;
top: 27px;
left: 18px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_8 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_8 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_8 span#rtr-s-Text_8_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_9 {
position: absolute;
top: 27px;
left: 116px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_9 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_9 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_9 span#rtr-s-Text_9_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_10 {
position: absolute;
top: 27px;
left: 228px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_10 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_10 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_10 span#rtr-s-Text_10_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_11 {
position: absolute;
top: 27px;
left: 335px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 6.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_11 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_11 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_11 span#rtr-s-Text_11_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 6.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_417 {
position: absolute;
top: 3px;
left: 41px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_417 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_417 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_417 span#rtr-s-Label_417_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_430 {
position: absolute;
top: 4px;
left: 299px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_430 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_430 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_430 span#rtr-s-Label_430_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Group_28 {
position: absolute;
top: 7px;
left: 4px;
width: 34px;
height: 6px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_7 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_7 .content {
width: 6px;
height: 6px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_7 {
position: absolute;
top: 0px;
left: 21px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_7 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_7 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_32 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_32 .content {
width: 6px;
height: 6px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_32 {
position: absolute;
top: 0px;
left: 28px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_32 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_32 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_32 span#rtr-s-Ellipse_32_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_33 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_33 .content {
width: 6px;
height: 6px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_33 {
position: absolute;
top: 0px;
left: 14px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_33 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_33 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_34 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_34 .content {
width: 6px;
height: 6px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_34 {
position: absolute;
top: 0px;
left: 7px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_34 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_34 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_35 .shapert-clipping {
left: 0px;
top: 0px;
width: 6px;
height: 6px;
position: absolute;
overflow: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_35 .content {
width: 6px;
height: 6px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_35 {
position: absolute;
top: 0px;
left: 0px;
width: 6px;
height: 6px;
background-color: #000000;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Bold,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_35 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_35 span {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
color: #1174C1;
text-align: center;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_51 {
position: absolute;
top: 1px;
left: 302px;
width: 50px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_51 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_51 span {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_51 span#rtr-s-Label_51_0 {
color: #000000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Image_4 {
position: absolute;
top: 5px;
left: 342px;
width: 25px;
height: 10px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_1 {
position: absolute;
top: 23px;
left: 158px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
opacity: 0.93;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_1 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_1 span#rtr-s-Text_1_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_291 {
position: absolute;
top: 24px;
left: 7px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_291 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_291 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_291 span#rtr-s-Label_291_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_2 {
position: absolute;
top: 85px;
left: 164px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 7.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_2 span {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 7.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_2 span#rtr-s-Text_2_0 {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 7.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_160 {
position: absolute;
top: 66px;
left: 211px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_160 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_160 span {
color: #01BBD2;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_160 span#rtr-s-Label_160_0 {
color: #01BBD2;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_3 {
position: absolute;
top: 97px;
left: 9px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_3 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_3 span#rtr-s-Text_3_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_4 {
position: absolute;
top: 97px;
left: 309px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_4 span {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_4 span#rtr-s-Text_4_0 {
color: #404040;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Image_1 {
position: absolute;
top: 122px;
left: 0px;
width: 375px;
height: 231px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_223 {
position: absolute;
top: 210px;
left: 174px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_223 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_223 span {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_223 span#rtr-s-Label_223_0 {
color: #A9A9A9;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_2 {
position: absolute;
top: 358px;
left: 0px;
width: 371px;
height: 62px;
background-color: #01BBD2;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #A9A9A9;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #A9A9A9;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #A9A9A9;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #A9A9A9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_2 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_5 {
position: absolute;
top: 366px;
left: 6px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_5 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_5 span#rtr-s-Text_5_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_6 {
position: absolute;
top: 396px;
left: 9px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_6 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_6 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_6 span#rtr-s-Text_6_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_7 {
position: absolute;
top: 366px;
left: 102px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_7 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_7 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_7 span#rtr-s-Text_7_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_12 {
position: absolute;
top: 396px;
left: 102px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_12 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_12 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Text_12 span#rtr-s-Text_12_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_228 {
position: absolute;
top: 398px;
left: 176px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_228 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_228 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_228 span#rtr-s-Label_228_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_229 {
position: absolute;
top: 398px;
left: 200px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_229 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_229 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_229 span#rtr-s-Label_229_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_230 {
position: absolute;
top: 398px;
left: 225px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_230 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_230 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_230 span#rtr-s-Label_230_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_231 {
position: absolute;
top: 428px;
left: 190px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_231 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_231 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_231 span#rtr-s-Label_231_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_232 {
position: absolute;
top: 398px;
left: 249px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_232 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_232 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_232 span#rtr-s-Label_232_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_233 {
position: absolute;
top: 398px;
left: 273px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 16.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_233 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_233 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_233 span#rtr-s-Label_233_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Image_2 {
position: absolute;
top: 428px;
left: 0px;
width: 375px;
height: 193px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_124 {
position: absolute;
top: 365px;
left: 174px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_124 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_124 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_124 span#rtr-s-Label_124_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_125 {
position: absolute;
top: 365px;
left: 199px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_125 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_125 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_125 span#rtr-s-Label_125_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_126 {
position: absolute;
top: 365px;
left: 224px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_126 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_126 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_126 span#rtr-s-Label_126_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_127 {
position: absolute;
top: 365px;
left: 249px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_127 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_127 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_127 span#rtr-s-Label_127_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_128 {
position: absolute;
top: 365px;
left: 273px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_128 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_128 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_128 span#rtr-s-Label_128_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Group_11 {
position: absolute;
top: 61px;
left: 175px;
width: 27px;
height: 27px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_6 .shapert-clipping {
left: 0px;
top: 0px;
width: 26px;
height: 26px;
position: absolute;
overflow: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_6 .content {
width: 26px;
height: 26px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Ellipse_6 {
position: absolute;
top: 0px;
left: 0px;
width: 26px;
height: 26px;
background-color: #FFFFFF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_6 .valign {
vertical-align: middle;
text-align: center;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_6 span {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
color: #404040;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_6 {
position: absolute;
top: 0px;
left: 0px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: IOS8-Icons-Regular,Arial;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_6 .valign {
vertical-align: middle;
text-align: left;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_6 span {
color: #01BBD2;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce #s-Label_6 span#rtr-s-Label_6_0 {
color: #01BBD2;
text-align: left;
text-decoration: none;
font-family: IOS8-Icons-Regular,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-a2bd85c6-ee5b-41a2-8d00-9fa1d91915ce > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}