#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_15 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_290 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_17 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Line_3 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_18 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_291 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Line_5 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_19 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_20 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_293 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Image_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Image_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
filter: alpha(opacity=95) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_16 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_417 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_430 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_31 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Ellipse_32 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Ellipse_33 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Ellipse_34 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Ellipse_35 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_51 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Image_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Button_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Button_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Button_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Button_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_275 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_296 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_30 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Rectangle_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
filter: alpha(opacity=98) ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_292 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_277 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_278 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_279 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 #s-Label_280 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#jim-container .ui-page {
overflow-x: hidden;
}
.non_jim_mobile #simulation {
overflow-x: hidden;
}
#s-d1b2e539-405e-4142-90ec-361de2150430 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}