#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-logo {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-text {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-title {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_417 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_430 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_7 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_32 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_33 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_34 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Ellipse_35 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_442 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Label_51 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc #s-Button_19 {
-ms-transform: rotate(0.0deg);
}
#s-f3884e0d-accd-4ceb-8439-8b90a66fe2cc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}